# Sanal Ortamlar (Noktalı ve noktasız versiyonlar)
.venv/
venv/
env/

# Node Modülleri (Her alt klasördeki node_modules'ü engeller)
node_modules/
**/node_modules/
package-lock.json

# Veri Dosyaları
*.csv
*.xlsx
*.pkl

# Gereksiz Sistem Dosyaları
__pycache__/
*.pyc
.DS_Store
.vscode/